* {
    padding: 0;
    margin: 0;
    max-height: 4000px;
    max-width: 1400px;
}
.wrapper {
    font-family: 'Poppins';
}
.sub-btn {
    background: none;
    Width:175px;
    Height:53px;
    border-radius: 4px;
}
.sub-btn__text {
    font-size: 17px;
    color: #fff;
}
.header {
    display:flex;
    margin: 20px 0 0 0;
}
.header__box {
    display: flex;
    padding: 22px 320px 24px 144px;
}
.header__title {
    color: #173A56;
}
.header__navigation {
    padding: 24px 0 26px 0px;
}
.header__navigation-list {
    margin: 0 29px 0 0;
}
.header__navigation-link {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header__link { 
    display: inline-block;
    padding-left: 10px;    
}
.header-box__title {
    padding: 2px 0px 0px 5px;
}
.hedear__buttom {
    padding: 15px;
}
.header__btnone {
    border: 2px solid darkblue;
    background: #fff;
    margin-right: 14px;
}
.header__btnone-itemone {
    color: #173A56;
}
.header__btntwo {
    border: none;
    background: #FF9900;
}
a:visited {
    color:  red;
}
.itemone {
    color: #173A56;
}
.desing__box {
    margin: 30px 130px 0px 145px;
}
.desing-box__tittle {
    padding: 84px 0px 0px 0px;
    color: #2F281E;
}
.desing-box__tittle-tex {
    font-size: 2em;
}
.desing-box__img {
    background-image: url(/img/Image.png);
    float: right;
    min-width:600px;
    min-height:490px;
}
.desing__btn {
    display: flex;
    gap: 20px;
    padding: 45px 0 53px 0 ;
}
.buttomone {
    border: 0;
    background: #FF9900;
}
.btn-text {
    color: #fff;
    font-size: 17px;
}