* {
    padding: 0;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.sub-btn {
    border: 0;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    Width:110px;
    Height:46px;
}

/* global content */


.header {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 52px 0;
}

.navigation-menu {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 320px;
}
.productly__title {
    font-size: 2em;
    color: #173A56;
}
.navigation-menu__link {
    text-decoration: none;
}
.bar-brn__one {
    border: 1px solid #BCD0E5;
    margin-right: 14px;
}
.bar-brn__two {
    background: #FF9900;
}
.bar-btn__Singl-In {
    color: #173A56;
}
.bar-btn__Singl-Up{
    color: #FFF;
}
.desing {
    display: flex;
    position: relative;
    margin-bottom: 100px;
}
.desing-img {
    position: absolute;
    left: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.img {
    max-width: 95%;
}
.desing__tittle {
    margin-top: 80px;
}
.desing__tittle-text {
    font-size:44px ;
    color: black; 
}
.desing__text-content {
    color: #544837;
    font-size: 18px;
}
.desing__text-box {
    margin-top: 30px;
}
.desing__btn-box {
    margin-top: 45px;
}
.desing-btn__item {
    color: #fff;
    background: #FF9900;
}
.desing__cards-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.desing__box-tittle {
    margin-bottom: 50px;
    text-align: center;
}
.desing__sub-tittle {
    font-size: 36px;
}
.desing__cards-content {
    margin: 0 0 70px 0;
}
.desing__card-content {
    margin: 30px 0 16px 0;
}
.desing__card-tittle {
    font-size: 22px;
    color:#2F281E;
}
.desing__cards-text {
    font-size: 16px;
    color: #544837;
}
.desing__btn {
    text-align: center;
}
.content__img 
{
    z-index: -2;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    top:40%;
}
.desing-tools {
    z-index: 1;
    position: relative;
}
