* {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    color:var(--main-tittle);
}
.sub-tittle {
    text-align: center;
    font-size: 2em;
    padding-bottom: 29px;
    padding-top: 100px;
}
.sub-text {
    text-align: center;
    padding-bottom: 29px;
}
:root {
    --main-font: 'Open Sans', sans-serif;
}
/* global container*/

.page-wraper {
    width: 100%;
    max-width: 943px;
    Height: 1889px;
    margin: 0 auto;
}
.bio-navigation {
    padding-top: 22px;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-around;
}
.bio-navigation__links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    color: #828282;
}
.bio-navigation-links-menu__url {
    text-decoration: none;
    text-shadow: 1px 1px 20px  #828282;
}
.bio-navigation-links-menu__url:hover {
    display: block;
    transform: scale(1.2);
    transition: all 5s;
}
.bio-border {
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 34px;
}
.bio-info__name {
    padding-bottom: 37px;
    color: black;
    font-size: 3em;
}
.bio-info__img {
    background-image:url(/img/PortfolioDen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 387px;
    margin-bottom: 100px;
}
.about-form {
    width: 936px;
    height: 396px;
    margin-bottom: 48px;
}
.about-form-text__container {
    width: 380px;
    height: 246px;
    margin: auto;
    text-align: center;
}
.about-form-text__container-text{
    text-align: center;
    padding-bottom: 48px;
}
.about-form-text__container-text:hover {
    transform: scale(2);
    translate:(2);
}
.about-form-text__container-text:nth-child(1):hover {
    color: red;
}
.about-form-text__container-text:nth-child(2):hover {
    color: orange;
}
.about-form-text__container-text:nth-child(3):hover {
    color: blue;
}
.skills-form {
    margin-bottom: 40px;
}
.skills-form__icons {
    display: flex;
    justify-content: space-evenly;
}
.skills-form-text__prof {
    padding-top:20px;
    text-align: center;
    padding-bottom: 56px;
}
.skills-form-icons__stars {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}
.skills-form-icons-img__pic {
    padding-left: 50px;
}
.skills-form-icons__stars {
    padding-right: 40px;
}
.portfolio {
    height: 2239px;
}
.portfolio-form-img__backgroud {
    height: 522px;
    width: 937px;
    background-repeat: no-repeat;
}
.portfolio-itemone {
    background-image: url(/img/PortfolioFirst.jpg);
}
.portfolio-itemtwo {
    background-image: url(/img/Portfoliotwo.jpg);
}
.portfolio-itemthre {
    background-image: url(/img/PortfolioThree.jpg);
}
/*
.Contacts_img__icons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

class="test":nth-child(2.4.5.6.7.8) {
    color: red;
}
class="test":nth-child(2n.4n.5n.6n.7n.8n) {
    color: red;
}
*/