* {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    color:var(--main-tittle);
}
.sub-tittle {
    text-align: center;
    font-size: 2em;
    padding-bottom: 29px;
    padding-top: 100px;
}
.sub-text {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 29px;
    text-decoration-line: underline;
}
.icon-text {
    color: #828282;
}
:root {
    --main-font: 'Open Sans', sans-serif;
}
section:nth-child(2){
    background:#F6F6F6;
}
/* global container*/

.page-wraper {
    width: 100%;
    max-width: 943px;
    Height: 4789px;
    margin: 0 auto;
}
/*section bio*/
.bio-navigation {
    padding-top: 22px;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-around;
}
.bio-navigation__links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    color: #828282;
}
.bio-navigation-links-menu__url {
    text-decoration: none;
    text-shadow: 1px 1px 20px  #828282;
}
.bio-navigation-links-menu__url:hover {
    display: block;
    transform: scale(1.2);
    transition: all 5s;
}
.bio-border {
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 34px;
}
.bio-info__name {
    padding-bottom: 37px;
    color: black;
    font-size: 3em;
}
.bio-info__img {
    background-image:url(/img/PortfolioDen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 387px;
    margin-bottom: 100px;
}
/*section bio end*/

/*section about-form*/
.about-form {
    width: 936px;
    height: 570px;
    margin-bottom: 48px;
}
.about-form-text__container {
    width: 380px;
    height: 246px;
    margin: auto;
    text-align: center;
}
.about-form-text__container-text{
    text-align: center;
    padding-bottom: 48px;
}
.about-form-text__container-text:hover {
    transform: scale(2);
    translate:(2);
}
.about-form-text__container-text:nth-child(1):hover {
    color: red;
}
.about-form-text__container-text:nth-child(2):hover {
    color: orange;
}
.about-form-text__container-text:nth-child(3):hover {
    color: blue;
/*section about-form end*/
}
.skills-form{
    margin-bottom: 40px;
    padding: 100px 0 83px;

}
.skills-form__text-container {
    text-align: center;
    padding-top: 44px;
    padding-bottom: 74px;
}
.skills-form__icons {
    display: flex;
    justify-content: space-evenly;
}
.skills-form-text__prof {
    padding-top:20px;
    text-align: center;
    padding-bottom: 56px;
}
.skills-form-icons__stars {
    display: flex;
    flex-wrap: nowrap;
}
.skill_bar {
    width: 35px;
}
.skills-form-icons-img__pic {
    display: flex;
    justify-content: space-around;
}
.portfolio {
    height: 1444px;
    width: 937px;
}
.portfolio-form-img__backgroud {
    height: 322px;
    width: 637px;
    margin-left: 154px;
    border: 5px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain
}
.portfolio-itemone {
    background-image: url(../img/PortfolioFirst.jpg);
}
.portfolio-itemtwo {
    background-image: url(../img/Portfoliotwo.jpg);
}
.portfolio-itemthre {
    background-image: url(../img/PortfolioThree.jpg);
}
.contacts {
    width: 341px;
    height: 411px;
    margin-left: 310px;
    text-align: center;
}
.contacts-text {
    padding-bottom: 78px;
}
.buttom-submit {
    margin-bottom: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border: 0em;
    Width:100px;
    Height:42px;
}
.buttom-background-img {
    background-image: url(/img/icons/Component.png);
    background-color: rgba(90,0,0,0);
}
.contacts-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 44px;
}
.contacs-img__icons {
    Width:40px;
    Height:39px
}
.contacts-img-backgroundin {
    background-image: url(../img/icons/GroupIN.png);
}
.contacts-img-backgroundis {
    background-image: url(/img/icons/GroupInstagram.png);
}
.contacts-img-backgroundbe {
    background-image: url(/img/icons/GroupBE.png);
}
.contacts-img-backgroundbas {
    background-image: url(/img/icons/GroupBas.png);
}
/*
class="test":nth-child(2.4.5.6.7.8) {
    color: red;
}
class="test":nth-child(2n.4n.5n.6n.7n.8n) {
    color: red;
}
*/