* {
    padding: 0;
    margin: 0;
}
.Figma-test {
    width: 100%;
    max-width: 943px;
    margin: 0 auto;
}
.bio-navigation {
    padding-top: 22px;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-around;
}
.bio-navigation__links {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.bio-navigation-links__menu {
    text-align: center;
}
.bio-navigation-links-menu__url {
    text-decoration: none;
    text-shadow: 1px 1px 20px  #828282;
}
.bio-border {
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 34px;
}
.bio-info__name {
    padding-bottom: 37px;
    color: black;
    font-size: 3em;
}
.bio-info__img {
    background-image:url(/img/PortfolioDen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 387px;
    margin-bottom: 100px;
}
.about-form__text {
    text-align: center;
    font-size: 2em;
    color: black;
    padding-bottom: 29px;
}
.about-form-text__bio {
    text-align: center;
    padding-bottom: 100px;
}
.skills-form {
    padding-bottom: 40px;
}
.skills-form__name {
    text-align: center;
    font-size: 2em;
    color: black;
    padding-bottom: 29px;
}
.skills-form__text {
    color:  #828282;
    text-align: center;
    padding-bottom: 29px;
}
.skills-form__icons {
    display: flex;
    justify-content: space-evenly;
}
.skills-form-icons__Img {
    display: block;
    Width:89.07px;
    Height:87.43px;
}
.skills-form-icons-img__pic {
    display: flex;
    justify-content: center;
}
.skills-form-text__prof {
    margin-top:24px;
    text-align: center;
    padding-bottom: 56px;
}
.skills-form-icons__stars {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}
.portfolio-pages__name {
    text-align: center;
    font-size: 2em;
    color: black;
    padding-bottom: 68px;
}
/*
.skills-form-icons-img__pic {
    padding-left: 50px;
}
.skills-form-icons__stars {
    padding-right: 40px;
}
.porfloio-pages__links {
    text-align: center;
}
.Contacts_img__icons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}